
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 242 247 246;
    --foreground: 33 33 33;

    --card: 242 247 246;
    --card-foreground: 33 33 33;

    --popover: 242 247 246;
    --popover-foreground: 33 33 33;

    --primary: 0 91 95;
    --primary-foreground: 242 247 246;

    --secondary: 120 160 133;
    --secondary-foreground: 33 33 33;

    --muted: 242 247 246;
    --muted-foreground: 107 114 128;

    --accent: 164 212 174;
    --accent-foreground: 33 33 33;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 91 95;

    --radius: 1rem;

    --sidebar-background: 242 247 246;
    --sidebar-foreground: 33 33 33;
    --sidebar-primary: 0 91 95;
    --sidebar-primary-foreground: 242 247 246;
    --sidebar-accent: 164 212 174;
    --sidebar-accent-foreground: 33 33 33;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 0 91 95;
  }

  .dark {
    --background: 33 33 33;
    --foreground: 242 247 246;

    --card: 33 33 33;
    --card-foreground: 242 247 246;

    --popover: 33 33 33;
    --popover-foreground: 242 247 246;

    --primary: 164 212 174;
    --primary-foreground: 33 33 33;

    --secondary: 120 160 133;
    --secondary-foreground: 242 247 246;

    --muted: 55 55 55;
    --muted-foreground: 156 163 175;

    --accent: 120 160 133;
    --accent-foreground: 242 247 246;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 55 55 55;
    --input: 55 55 55;
    --ring: 164 212 174;

    --sidebar-background: 33 33 33;
    --sidebar-foreground: 242 247 246;
    --sidebar-primary: 164 212 174;
    --sidebar-primary-foreground: 33 33 33;
    --sidebar-accent: 55 55 55;
    --sidebar-accent-foreground: 242 247 246;
    --sidebar-border: 55 55 55;
    --sidebar-ring: 164 212 174;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
